html,
body {
  min-height: 100%;
  height: 100%;
}

.fill {
  height: calc(100vh - 100px);
}

body {
  padding-top: 60px; /* space for the top nav bar */
  margin-right: 30px;
}

#userHubs {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 150px);
}

#forgeViewer {
  width: 100%;
}

#preview_snapshot {
  position: absolute;
  padding: 0.5em;
  color: #adb5bd;
  background: #212529;
  opacity: 0.9;
  border: 1px solid #adb5bd;
  border-radius: 0 15px 15px 15px;
  height: 200px;
  width: 310px;
}
